@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

   /* 
  ====================
  Fonts
  ===================
  */

  --font-sans: 'Poppins', 'Inter';

  /* 
  ====================
  Primary Color Blues
  ====================
  */

  /* main headers, navigation */
  --deep-blue: #1E3A8A; 
  --frosted-deep-blue: rgba(30, 58, 138, 0.75);
  /* primary buttons, accents */
  --bright-blue: #3B82F6;
  /* hover states, highlights */
  --sky-blue: #60A5FA;
  /* backgrounds, cards */
  --light-blue: #DBEAFE;

   /* 
  ====================
  Supporting Colors
  ====================
  */

  /* backgrounds, text on blue */
  --white: #FFFFFF;
  /* alternate backgrounds */
  --soft-gray: #F8FAFC;
  /* body text */
  --dark-text: #1E293B;
  /* correct answers, achievements */
  --success-green: #10B981;
  /* hints, attention items */
  --warning-orange: #F59E0B;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 200ms ease-in-out;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: rotBGimg 3s linear infinite
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--soft-gray);
  color: var(--color-white);
  font-family: var(--font-sans);
}
